@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.content {
	background-image: url('../img/BackGround.png');
	height: 100vh;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40%;
}
.num-header {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
}
.numblue {
	color: #0096ff;
}
.form {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;

	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 24px;
	gap: 28px;
}

.Button-main {
	border: 2px solid rgb(5, 103, 32);
	display: flex;
	gap: 160px;
	padding: 0 15px;
}
.Button-info {
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn {
	height: 16px;
	width: 15px;
	padding: 17px;
	font-size: 15px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.mb-3 {
	border: 2px solid rgb(5, 103, 32);
	font-weight: 500;
	font-size: 22px;
	line-height: 125.3%;
	color: #3c4852;
	padding: 0 20px;
}
